.DS_Store
*.class
*.log
*~

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/project/
project/plugins/project/
project/local-plugins.sbt
.history
.bsp
.metals

# ide
.bloop
.vscode
project/metals.sbt
